[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kodistubs = "*"
routing = {editable = true, git = "https://github.com/tamland/kodi-plugin-routing"}
requests = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.9"
